:root{
    --bordo:rgb(53, 7, 7);
    --lightbordo:rgb(78, 4, 4);
    --yellow:rgba(241, 195, 67, 0.9);
    --cream:rgba(255, 229, 158, 0.699);
    --lightcream:rgb(253, 236, 188);
    --whitebrick:rgba(241, 241, 241,0.3);
    --brown:rgba(49, 36, 8, 0.9);
}

*{
    margin:0;
    padding:0;
    text-decoration: none;
    color:var(--cream);
    box-sizing: border-box;
    font-family: 'Russo One';
    list-style: none;
}

html{
    scroll-behavior: smooth; 
}

body{
    background:  linear-gradient(to right top,#1b0c02ee,black);
}

header{
    color:var(--cream);
    height:100px;
    padding: 10px 50px;
    width:100%;
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("woodenwall.jpg");
    z-index:1000;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.container{
    width: 95%;
    margin: 0px auto;
    padding: 0px;
}

.nav_logo{
    color: var(--cream);
    font-weight: 700;
    font-size: 1.5rem;
    padding:15px
}

.nav__icon{
    font-size:1.5rem;
}

.nav__link{
    display:flex;
}

.nav__list{
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
}

i.nav__icon{
    display:none;
}



@media screen and (max-width : 768px){
    .nav__menu{
        position: fixed;
        bottom:0;
        left: 0;
        background-color: var(--cream);
        width: 100%;
        height: 4.5rem;
        padding: 0 1rem;
        align-content:center;
        border-radius: 1.25rem 1.25rem 0 0;
        transition: .4s;
        box-shadow: 0 -1px 12px rgba(59, 59, 59, 0.25);
    }

    i.nav__icon{
        display:block;
        margin-top: 0.7rem;
        color: var(--brown);
    }

    .section__title{
        font-size:1.5rem;
    }

    .nav__name {
        font-weight:600;
        color:var(--brown);
    }
    
    .nav__link{
        flex-direction: column;
        align-items:center;
        color:#454343;
    }
}


#welcome {
    padding-top: 10%;
}
#welcome article{
    padding-top: 20px;
    text-align: center;
}
#welcome article h1{
    font-size: 1.85rem;
    color: var(--lightcream);
    font-weight: 700;
    text-transform: uppercase;
}
#welcome article h2{
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--lightcream);
}
#welcome article p{
    font-size: 0.85rem;
    text-align: justify;
    margin: 1.3rem 0px 1.1rem;
}
#welcome aside {
    width: 65%;
    margin: 45px auto 0px;
}
#welcome aside img{
    max-width: 100%;
}

#why_us{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(photos/bg4.jpg) no-repeat center center/cover;
    text-align: center;
    padding: 3rem 0px 1.8rem;
}
#why_us .container2>h1{
    color: var(--haccent);
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 700;
}
#why_us .container2>p {
    color: var(--lightcream);
    margin-bottom: 30px;
}
#why_us article{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#why_us article figure{
    text-align: center;
    max-width: 63%;
    margin-top: 40px;
}
#why_us article .cont{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    border-radius: 10px;
    padding: 95px 10px 20px;
    text-align: center;
    margin-top: -75px;
}
#why_us article figure div:first-of-type{
    width: 10em;
    height: 10em;
    background-color: var(--lightcream);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    position: relative;
    z-index: 1;
}
#why_us article figure img{
    max-width: 55%;
}
#why_us article figure h2{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--lightcream);
}
#why_us article figure p{
    color: var(--lightcream);
    font-size: 0.88rem;
    text-shadow:1px 1px #73757E;
}


@media (min-width: 576px) {
    html{
        font-size: 13px;
    }
    .container {
        padding-top: 5%;
        width: 520px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    html{
        font-size: 14px;
    }
    .container {
        width: 720px;
    }
    #welcome .container{ 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #welcome article{
        padding: 0px;
        text-align: left;
        width:51%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
    #welcome article p{
        padding-right: 1rem;
    }
    #welcome aside {
        width: 48%;
        margin: 0px;
        text-align: right;
    }
    #why_us{
        padding-bottom: 6rem;
    }
    #why_us article{
        justify-content: space-between;
    }
    #why_us article figure{
        max-width: 40%;
    }
    #why_us article figure img{
        max-width: 55%;
    }
}

@media (min-width: 1200px) {
    html{
        font-size: 15px;
    }
    .container {
        width: 1140px;
    }
    #welcome article h1{
        font-size: 2.7rem;
    }
    #welcome article h2{
        font-size: 1.8rem;
    }
    #why_us{
        background-position: center top;
    }
    #why_us article{
        justify-content: space-evenly;
    }
    #why_us article figure{
        max-width: 21%;
}}

@media (min-width: 1400px) {
    html{
        font-size: 17px;
    }
    .container {
        width: 1340px;
    }
}

.contact_container{
    position: relative;
    text-align: center;
    height: 50vh;
    background-image: url('woodenwall.jpg');
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.4); 
}